<config template="project (default)" platform="project">Created: Сен қаң 24 12:38:59 2015
By: Olzhas
Using Template: project (default)

&lt;description to go here><option fromDef="false" value="../../../marmaladeexampleresources/resources/icons" name="icon"/>
    <option fromDef="false" value="../../../marmaladeexampleresources/resources/splashscreens" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="Stage4" name="name"/>
    <option fromDef="true" value="Stage4" name="caption"/>
    <option fromDef="true" value="Olzhas" name="provider"/>
    <option fromDef="true" value="(C) Olzhas" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
